<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="search" xmlns:th="http://www.thymeleaf.org">
    <div class="search-main">
        <div class="form">
            <label class="search">
                <input class="search-input" type="text" placeholder="搜你喜欢">
            </label>
        </div>
        <div class="guide">
            <span class="g">歌手</span>
            <span class="g">单曲</span>
            <span class="g">兆赫</span>
            <span class="g">歌单</span>
        </div>
        <div class="results"></div>
    </div>
</div>
</body>
</html>