<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="referrer" content="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/user/userguide_search.css}" >
<!--    <link rel="stylesheet" href="../static/css/user/userguide_search.css" >-->
    <title>Search</title>
</head>
<body>
    <div class="search-main">
        <div class="return"><a th:href="@{'/userguide'}">返回</a></div>
        <div class="form">
            <label class="search">
                <input class="search-input" type="text" placeholder="搜你喜欢的歌手">
            </label>
        </div>
        <div class="results"></div>
        <div class="clickmore" style="display: none">查看所有</div>
    </div>
    <script th:src="@{/js/userguide_search.js}"></script>
    <!--    <script src="../static/js/userguide_search.js"></script>-->
</body>
</html>